<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% if page.description %}{{ page.description|e('html') }}{% else %}{{ site.description|e('html') }}{% endif %}">

		<title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

		<link href="{{ base_url }}/themes/{{ theme }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ base_url }}/themes/{{ theme }}/assets/css/theme.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrap">
			{% include 'partials/navigation.html.twig' %}
			{% block content %}{% endblock %}
		</div>
		{% include 'partials/footer.html.twig' %}
		{% include 'partials/tail.html.twig' %}
	</body>
</html>
